.allorders{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    width: 815px;
    height: 340px;
    margin-left: 2.6%;
    margin-top: 5px;
    border-radius: 5px;
    max-height: 340px;
    overflow-y: auto;
    font-size: x-small;
}
.product-container {

  margin-top: 40px;
  margin-left: -31px;
  background-color: lightgray;
  border-radius: 5px;
  width: 900px;
  height: 250px;
}
.flexbox-products{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 2%;
  margin-left: 3%;
  width: 850px;
  height: 240px;
  margin-top: 25px;
  border-radius: 5px;
  max-height: 240px;
  overflow-y: auto;
}
.selectedproducts{
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  width: 800px;
  height: 200px;
  margin-left: 2.6%;
  margin-top: 25px;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  font-size: x-small;
}

.custom-load{
    margin-top: 120px;
    margin-left: 350px;
}
.orderTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  .orderTable th,
  .orderTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  .orderTable th {
    background-color: #f2f2f2;
  }
  
  .orderTable td + td {
    border-left: 1px solid black;
  }

  .orderTable tr:hover {
    cursor: pointer;
    background-color: #ffff99;
  }

  .productTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  .productTable th,
  .productTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  .productTable th {
    background-color: #f2f2f2;
  }

  