 .container {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 8%;
    margin-right: 30%;
    border-radius: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20%;

  }

  .flexbox {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: left;
    border-radius: 3%;
    padding-left: 3%;
    width: 300px;
    height: 350px;
    background-color:white;
    margin: 30px;
  }
  .flexbox-general {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    margin: 10px;
    border-radius: 3%;
  }
  .flexbox2 {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 350px;
    background-color:white;
    margin: 30px;
    margin-left: 0%;
    border-radius: 3%;
  }
  .btn-primary{
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 4%;
    border-radius: 20%;
    border: none;
    margin-top: 2%;
    margin-left: 20%;
    
  }
 
  .redBorder{
    border-color: red;
  }
  .user-list-container {
    max-height: 300px; /* Set the maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
  }